.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hidden{
  display:none;
}

.search-header{
  margin-top:15px;
}

.search-content{
  margin-top: 30px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.book-volume{
  padding:15px;
	margin:15px;
  cursor:pointer;
}

.book-volume:hover{
	background-color: #3f4552;
}

.book-volume-title{
  font-size:24px;
}

.book-volume-authors{
  font-size:18px;
}

.book-volume-description{
	font-size:16px;
}

#searchText{
  font-size:24px;
}

.search-button{
  margin:10px;
  font-size:24px;
}

.pagination{
	padding:25px;
}

.pagination-button{
  margin:10px;
  font-size:24px;
}
